/* MainComponents.css */

.main-bg{
  width: 100vw;
  height: 100vh;
  background-color: rgb(135, 201, 255);
  position: relative;
}

.KYiconImage{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.main-ment{
  position: absolute;
  top: 40%;
  left: 48%;
  font-size: 60px;
  font-weight: 700;
  color: rgb(48, 100, 160);
}