nav{
  z-index: 5;
  position: fixed;

  width: 100%;
  background: inherit;
  color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-container{
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 2.5px rgb(98, 98, 98);
}

.logo{
  width: 180px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  border-bottom: 0px solid;
  text-decoration: none;
  color: rgb(255, 0, 0);

  color: inherit;
  line-height: 1;
  cursor: pointer;
}

nav ul li:hover{
  scale: 1.1;
  transition: all 0.2s;
}

nav ul li:visited {
  color : black;
}

.loginli{
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 30px;
}

.loginbutton1{
  background-color: white;
  color: black;
  width: 6vw;
  height: 6vh;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.hidden{
  display: none;
  opacity: 1;
}

.sidebar li{
  margin-top: 20px;
  width: 100%;
  height: 30px;
}

.sidebar li a{
  width: 100%;
  color: white;

}


@media (max-width: 1024px) {
  .hideOnMobile{
    display: none;
  }
}

@media (min-width: 1024px) {
  .hideOnPC{
    display: none;
  }
}

